__pycache__/
__pycache__/*

autoload/
autoload/*

.netrwhist

.vscode/
.vscode/*

Session.vim

yarn lock
'yarn lock'
yarn.lock
node__modules/
node__modules/*
node_modules/
node_modules/*

.vim/
.vim/*

spell/*.spl

packer_compiled.lua
lua/packer_compiled.lua
tags

log.txt
.ignore/
.ignore/*
oil:
