__pycache__/
__pycache__/*

autoload/
autoload/*

.netrwhist

.vscode/
.vscode/*

Session.vim

yarn lock
'yarn lock'
yarn.lock
node__modules/
node__modules/*
node_modules/
node_modules/*

.vim/
.vim/*

spell/
spell/*

plugin/packer_compiled.lua
tags
